.Topbar {
    background-color: #333333;
    color: #F1FAEE;
    position: sticky;
    top: 0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Title {
  padding: 0 3vw 0 1vw;
  float: left;
}

#TopbarOptions > li:not(#Title) {
  padding: 0 1vw 0 0;
  float: right;
}

#TopbarOptions > li:not(#Title):hover {
  color: #ff6179;
}